<ng-container *ngIf="isLoggedIn">
  <div class="currentUser">
    current user: 1
  </div>
</ng-container>
<div class="align-center">
  <ng-container *ngIf="!isLoggedIn">
  <h2>User Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <input placeholder="username" type="username" mdInput formControlName="username"  />
    <input placeholder="Password" type="password" mdInput formControlName="password" />
    <div class="btn-div">
      <button type="submit" [disabled]="!loginForm.valid" class="login-btn">
        Login
      </button>
    </div>
  </form>
</ng-container>
<ng-container *ngIf="isLoggedIn">
  <div>
      <h2 style="align-self: center;">
        Create New user
      </h2>
    <form [formGroup]="test" (ngSubmit)="CreateNewUser()">
      <input placeholder="new username" type="username" mdInput formControlName="username"  />
      <input placeholder="new Password" type="password" mdInput formControlName="password" />
    <div class="btn-div">
      <button type="submit" [disabled]="!test.valid" class="login-btn">
        Create
      </button>
    </div>
  </form>
    </div>

  <div class="table">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="navn">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Navn </th>
    <td mat-cell *matCellDef="let element"> {{element.navn}} </td>
  </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>

  </ng-container>
</div>